<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment.html::head"></head>
<body>
	<nav th:replace="fragment.html::main-navi"></nav>
	<div class="container">
		<div th:replace="fragment.html::party-banner"></div>
		<div th:replace="fragment.html::party-info"></div>
		<div th:replace="fragment.html::party-menu(partyMenu='events')"></div>
		<div class="row justify-content-center">
			<div class="col-12 mb-2">
				<ul class="nav mb-3">
					<li class="nav-item"><a href="#" class="list-group-item list-group-item-action">
							New Meeting <span th:text="${newEvents.size()}">2</span>
						</a></li>
					<li class="nav-item"><a href="#" class="list-group-item list-group-item-action">
							Previous Meeting <span th:text="${oldEvents.size()}">5</span>
						</a></li>
				</ul>
			</div>
			<div class="col-12 row row-cols-1 row-cols-md-2">
				<div th:if="${newEvents.size() == 0}" class="col">There are no new meetings.</div>
				<div class="col mb-4 pr-0" th:each="event: ${newEvents}">
					<div class="card">
						<div class="card-header">
							<span th:text="${event.title}">title</span>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><i class="fa fa-calendar"></i> Start meeting on <span class="calendar" th:text="${event.startDateTime}"></span></li>
							<li class="list-group-item"><i class="fa fa-hourglass-end"></i> Closing <span class="fromNow" th:text="${event.endEnrolmentDateTime}"></span> , <span th:if="${event.limitOfEnrolments != 0}"> <span th:text="${event.numberOfRemainSpots()}"></span> spots left in <span th:text="${event.limitOfEnrolments}"></span> Recruitment
							</span></li>
							<li class="list-group-item"><a href="#" th:href="@{'/party/' + ${party.path} + '/events/' + ${event.id}}" class="card-link">Read more</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-12 px-0 row">
				<table th:if="${oldEvents.size() > 0}" class="table table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Last Meeting Name</th>
							<th scope="col">End of Meeting</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="event: ${oldEvents}">
						<tr>
							<th scope="row" th:text="${eventStat.count}">1</th>
							<td th:text="${event.title}">Title</td>
							<td><span class="date-weekday-time" th:text="${event.endDateTime}"></span></td>
							<td><a href="#" th:href="@{'/party/' + ${party.path} + '/events/' + ${event.id}}" class="card-link">Read more</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:replace="fragment.html::footer"></div>
	</div>
	<script th:replace="fragment.html::tooltip"></script>
	<script th:replace="fragment.html::date-time"></script>
</body>
</html>