<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html::head">
</head>
<body class="bg-light">
	<div th:replace="fragment.html::main-navi"></div>
	<div class="alert alert-warning" role="alert" th:if="${account!=null && !account.emailVerified}">
		if you want to finish sign-up,
		<a href="#" th:href="@{/check-email}" class="alert-link">check your email.</a>
	</div>
	<!-- Sign-up form part Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="col-12 h3 pt-3 text-center mt-3">Developer's Profile</div>
				<div class="h3 pt-3 text-left mt-3">JAEHWAN KIM</div>
				<div class="text-right">
					<i class="fa fa-mobile" aria-hidden="true"></i> +1 647-xxx-xxxx
				</div>
				<div class="text-right">
					<a href="mailto:kkjaehwan@gmail.com">
						<i class="fa fa-envelope-o" aria-hidden="true"></i> kkjaehwan@gmail.com
					</a>
				</div>
				<div class="text-right">
					<i class="fa fa-map-marker" aria-hidden="true"></i> 40 High Park Ave, Toronto, Ontario, M6P 2S1
				</div>

				<hr>
				<div class="h5 text-left">SUMMARY</div>

				<ul>
					<li>Web Back End Developer since 2011 with experiences in various stages of the development cycle for web-based solution projects.</li>
					<li>Familiar with developing Java-based Back End and Javascript-based Front End.</li>
				</ul>

				<hr>
				<div class="h5 text-left">SKILLS</div>

				<ul>
					<li>Java/C</li>
					<li>Spring/Spring Boot/Struts2</li>
					<li>RDB(PostgreSQL, Oracle, MySQL, MariaDB, MSSQL, Infomix)</li>
					<li>REST Web Services</li>
					<li>Junit</li>
					<li>Javascript/jQuery/Bootstrap</li>
					<li>JSP/Thymeleaf</li>
					<li>HTML/CSS</li>
					<li>Git/GitHub/SVN</li>
					<li>Tomcat/Jeus/WebTob</li>
					<li>Jenkins</li>
					<li><a href="https://titaniumspider.github.io/react-app/" target="_blank">React</a>/<a href="https://titaniumspider.github.io/react-ajax-app/"target="_blank">React Ajax</a>/<a href="https://titaniumspider.github.io/react-and-redux-app/"target="_blank">Redux</a>/<a href="https://titaniumspider.github.io/react-redux-app/"target="_blank">React-Redux</a></li>
				</ul>
				<hr>
				<div class="h5 text-left">EXPERIENCES</div>
				<div class="d-flex font-weight-bold mt-2 mb-1">
					<div class="flex-grow-1">2020/04 - Present</div>
					<div class="text-right">
						<i class="fa fa-map-marker" aria-hidden="true"></i> Toronto, Canada
					</div>
				</div>
				<div class="ml-3">
					<div>
						<i class="fa fa-building" aria-hidden="true"></i> Self-Studying | Pending Permanent Resident Permit
					</div>
					<div>
						<i class="fa fa-file-code-o" aria-hidden="true"></i> Projects
					</div>
					<div class="ml-3">
						<div>
							<i class="fa fa-code" aria-hidden="true"></i> ShareKnot – Studying and Developing (2021/01 – Present)
						</div>
						<ul style="margin: 0;">
							<li>Subscription via email, simple free board, group management</li>
							<li><i class="fa fa-envira" aria-hidden="true"></i> Development Environments</li>
							<ul>
								<li>Back End : Java (Spring Boot)</li>
								<li>Front End : Thymeleaf, Vanilla JS , HTML, CSS</li>
								<li>Server : Linux(AWS t2.micro)</li>
								<li>Web : Tomcat</li>
								<li>DB : PostgreSQL/H2</li>
							</ul>
						</ul>
					</div>
					<div>
						<i class="fa fa-graduation-cap" aria-hidden="true"></i> English Learning – Self-Study (2020/04 – Present)
					</div>
				</div>

				<div class="d-flex font-weight-bold mt-2 mb-1">
					<div class="flex-grow-1">
						<div>2015/05 -2020/03</div>
					</div>
					<div class="text-right">
						<i class="fa fa-map-marker" aria-hidden="true"></i> Uiwang-si, Gyeonggi-do, South Korea
					</div>
				</div>
				<div class="ml-3">
					<div>
						<i class="fa fa-building" aria-hidden="true"></i> Nonghyup Bank | Assistant Manager
					</div>
					<div>
						<i class="fa fa-link" aria-hidden="true"></i> <a href="https://banking.nonghyup.com"target="_blank">https://banking.nonghyup.com</a>
					</div>
					<div>
						<i class="fa fa-file-code-o" aria-hidden="true"></i> Projects
					</div>
					<div class="ml-3">
						<span>
							<i class="fa fa-code" aria-hidden="true"></i> Withholding Tax System development/maintenance/management
						</span>

						<ul style="margin: 0;">
							<li>Renewed the system annually to reflect the revision of the tax law.</li>
							<li>Extracted data on individuals and corporations requested by the National Tax Service periodically and provided it to the National Tax Service.</li>
							<li>Generated withholding tax receipt for customer and governments including the National Tax Service to comply with tax law.</li>
							<li>Created monthly withholding tax reports and payments to governments including the National Tax Service.</li>
							<li><i class="fa fa-envira" aria-hidden="true"></i> Development Environments</li>
							<ul>
								<li>Back End : Pro*C</li>
								<li>Front End : JSP, Vanilla JS , HTML, CSS</li>
								<li>Server : HP & Oracle</li>
								<li>Web : Jeus, Webtob</li>
								<li>DB : Oracle</li>
							</ul>
						</ul>
						<span>
							<i class="fa fa-code" aria-hidden="true"></i> Transaction Management System development/maintenance/management
						</span>
						<ul>
							<li>Managed transactions generated by bank branches to prevent accidents between transactions in banking business.</li>
							<li>Provided an electronic document approval system at branches.</li>
							<li><i class="fa fa-envira" aria-hidden="true"></i> Development Environments</li>
							<ul>
								<li>Back End : ProFrame for C (similar to IBM Aspera Orchestrator)</li>
								<li>Front End : Easy Builder</li>
								<li>Server : HP</li>
								<li>DB : Tibero/Infomix</li>
							</ul>
						</ul>
					</div>
				</div>
				<div class="d-flex font-weight-bold mt-2 mb-1">
					<div class="flex-grow-1">
						<div>2014/12 - 2015/05</div>
					</div>
					<div class="text-right">
						<i class="fa fa-map-marker" aria-hidden="true"></i> Seoul, South Korea
					</div>
				</div>
				<div class="ml-3">

					<div>
						<i class="fa fa-building" aria-hidden="true"></i> Zeniel Co., Ltd. | Assistant Manager
					</div>
					<div>
						<i class="fa fa-link" aria-hidden="true"></i> <a href="http://www.zeniel.com"target="_blank">http://www.zeniel.com</a>
					</div>


					<div>
						<i class="fa fa-envira" aria-hidden="true"></i> Development Environments
					</div>
					<ul style="margin: 0;">
						<li>Back End : Java (Struts2)</li>
						<li>Front End : JSP, Vanilla JS, jQuery , HTML, CSS</li>
						<li>Server : CentOS</li>
						<li>Web : Tomcat</li>
						<li>DB : MariaDB
					</ul>
					<div>
						<i class="fa fa-file-code-o" aria-hidden="true"></i> Developed Projects
					</div>
					<ul>
						<li>New Groupware System</li>
						<ul>
							<li>Configured requirements for initial development</li>
						</ul>
						<li>Internal Library System</li>
						<li>Employee Working Hour Recording System</li>

					</ul>
				</div>
				<div class="d-flex font-weight-bold mt-2 mb-1">
					<div class="flex-grow-1">
						<div>2011/03 - 2014/11</div>
					</div>
					<div class="text-right">
						<i class="fa fa-map-marker" aria-hidden="true"></i> Seoul, South Korea
					</div>
				</div>
				<div class="ml-3">

					<div>
						<i class="fa fa-building" aria-hidden="true"></i> LSWare Inc. | Assistant Developer
					</div>
					<div>
						<i class="fa fa-link" aria-hidden="true"></i> <a href="http://lsware.com"target="_blank">http://lsware.com</a>
					</div>

					<div>
						<i class="fa fa-envira" aria-hidden="true"></i> Development Environments
					</div>
					<ul style="margin: 0;">
						<li>Back End : Java (Struts2)</li>
						<li>Front End : JSP, Vanilla JS, jQuery , HTML, CSS</li>
						<li>Server : Windows Server</li>
						<li>Web : Tomcat</li>
						<li>DB : MSSQL</li>
					</ul>
					<div>
						<i class="fa fa-file-code-o" aria-hidden="true"></i> Developed Projects
					</div>
					<ul>
						<li>Web Console of Windows User Access Control System (Windows UAC)</li>
						<ul>
							<li>Developed a service program which allows or blocks users to access a specific Windows server and provides a dashboard.</li>
						</ul>
						<li>Web Console of Windows User Session Logging System (Windows USL)</li>
						<ul>
							<li>Developed a program which displays the history of authorized/ unauthorized user activities and analyzes the activities on a particular Windows server and provide reports.</li>
						</ul>
						<li>Web Console of Vulnerability Assessment System</li>
						<ul>
							<li>Contributed in developing a system which checks a server for vulnerabilities and suggests a way to improve security for Linux and Unix Server.</li>
						</ul>
					</ul>
				</div>
				<hr>
				<div class="h5 text-left">EDUCATION</div>

				<div class="d-flex font-weight-bold mt-2 mb-1">
					<div class="flex-grow-1">
						<div>2007/03 -2015/08</div>
					</div>
					<div class="text-right">
						<i class="fa fa-map-marker" aria-hidden="true"></i> Cheonan-si, Chungcheongnam-do, South Korea
					</div>
				</div>
				<div class="ml-3">
					<div>
						<i class="fa fa-university" aria-hidden="true"></i> KOREA UNIVERSITY OF TECHNOLOGY AND EDUCATION
					</div>

					<div>
						<i class="fa fa-link" aria-hidden="true"></i> <a href="https://www.koreatech.ac.kr"target="_blank">https://www.koreatech.ac.kr</a>
					</div>
					<ul>
						<li>School of Information Technology Computer Engineering</li>
						<li>Bachelor of Science in Engineering</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragment.html::footer"></div>
	<!-- Sign-up form part End -->
</body>
</html>