<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html::head">
</head>
<body class="bg-light">
	<div th:replace="fragment.html::main-navi"></div>
	<!-- Start -->
	<div class="container">
		<div th:replace="fragment.html::page-title(title=${account.nickname})"></div>
		<div th:replace="fragment.html::messageBox"></div>
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<div th:replace="fragment.html::settings-menu(currentMenu='account')"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<form class="needs-validation " action="#" th:action="@{/settings/account}" th:object="${nicknameForm}" method="post" novalidate>

							<div class="alert alert-warning" role="alert">If you change your nickname, the link to your profile page also changes!</div>
							<div class="form-group">
								<label for="nickname">Nickname</label>
								<input id="nickname" type="text" th:field="*{nickname}" class="form-control" placeholder="nickname" aria-describedby="nicknameHelp" required minlength="3" maxlength="20">
								<small id="nicknameHelp" class="form-text text-muted"> Please enter at least 3 characters and at least 20 characters in numbers without spaces. You can change it after signing up. </small>
								<small class="invalid-feedback">Please enter a nickname.</small>
								<small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">Modify</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragment.html::footer"></div>
	</div>
	<!-- End -->
	<script th:replace="fragment.html::form-validation"></script>
</body>

</html>