<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html::head">
</head>
<body class="bg-light">
	<div th:replace="fragment.html::main-navi"></div>
	<!-- Start -->
	<div class="container">
		<div th:replace="fragment.html::page-title(title=${account.nickname})"></div>
		<div th:replace="fragment.html::messageBox"></div>
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<div th:replace="fragment.html::settings-menu(currentMenu='zones')"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="alert alert-info" role="alert">Register your active area. You can receive notifications when groups are found in your region.You can select only regions that are registered on the system.</div>

						<div id="whitelist" th:text="${whitelist}" hidden></div>
						<input id="zones" type="text" name="zones" th:value="${#strings.listJoin(zones,',')}" class="tagify-outside" aria-describedby="zonesHelp">
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragment.html::footer"></div>
	</div>
	<!-- End -->
	<script th:replace="fragment.html::ajax-csrf-header"></script>
	<script th:replace="fragment.html::update-zones(baseUrl='/settings/zones')"></script>

</body>

</html>