<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment.html::head"></head>
<body class="bg-light">
    <nav th:replace="fragment.html::main-navi"></nav>
    <div th:replace="fragment.html::party-banner"></div>
    <div class="container">
        <div th:replace="fragment.html::event-form (mode='edit', action='/party/' + ${party.path}
        + '/events/' + ${event.id} + '/edit')"></div>
        <div th:replace="fragment.html::footer"></div>
    </div>
    <script th:replace="fragment.html::form-validation"></script>
    <script th:replace="fragment.html::editor-script"></script>
</body>
</html>