<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html::head">

</head>
<body class="bg-light">
	<div th:replace="fragment.html::main-navi"></div>
	<div class="container">
		<div class="row text-left justify-content-center">
			<div class="col-12 pt-3">
				<div class="py-5 text-center">
					<h2>Make a new board</h2>
				</div>
				<form class="needs-validation" action="#" th:action="@{/board/new-board}" th:object="${boardForm}" method="post" novalidate>
					<div class="form-group">
						<label for="title">title</label>
						<input id="title" type="text" th:field="*{title}" class="form-control" placeholder="title" aria-describedby="titleHelp" required minlength="2" maxlength="100">
						<small id="titleHelp" class="form-text text-muted"> Please enter from 2 to 100 characters.</small>
						<small class="invalid-feedback">Please enter a title.</small>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
					</div>
					<div class="float-left" sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')">
						<button class="btn btn-success btn-block btn-sm" type="submit">Make it</button>
					</div>
					<div class="float-right">
						<a th:href="@{'/board/lists'}">
							<button type="button" class="btn btn-info btn-sm ">Cancel</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragment.html::footer"></div>
</body>
</html>