<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html::head">

</head>
<body class="bg-light">
	<div th:replace="fragment.html::main-navi"></div>
	<!-- Sign-up form part Start -->
	<div class="container">
		<div class="row text-left justify-content-center">
			<div class="col-12 pt-3">
				<div class="text-left mt-3">
					<h5>Boards</h5>
				</div>
				<div sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')" class="float-right mb-2">
					<a th:href="@{'/board/new-board'}" class="btn btn-info btn-sm" role="button" data-bs-toggle="button">Create Board</a>
				</div>
				<table class="table table-hover table-striped text-center">
					<thead>
						<tr>
							<th>#</th>
							<th>title</th>
							<th sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')">menu</th>
						</tr>
					</thead>
					<tr th:each="bd: ${boardList}">
						<td th:text="${bdStat.count}"></td>
						<td><a th:text="${bd.title}" th:href="@{'/board/lists/'+${bd.title}+'/posts'}"></a></td>
						<td sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')"><a th:href="@{'/board/lists/'+${bd.title}}" class="btn btn-primary btn-sm" role="button" data-bs-toggle="button">Manage</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="fragment.html::footer"></div>
</body>
</html>