<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment.html::head"></head>
<body class="bg-light">
	<nav th:replace="fragment.html::main-navi"></nav>
	<div class="container">
		<div th:replace="fragment.html::page-title(title=Notifications)"></div>
		<div class="row">
			<div class="col-12">
				<ul class="list-group">
					<a href="#" th:href="@{/notifications}" th:classappend="${isNew}? active" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						Unread Notifications <span th:text="${numberOfNotChecked}">3</span>
					</a>
					<a href="#" th:href="@{/notifications/old}" th:classappend="${!isNew}? active" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						Read Notifications <span th:text="${numberOfChecked}">0</span>
					</a>
				</ul>

				<ul class="list-group mt-4">
					<a href="#" th:if="${newPartyNotifications.size() > 0}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						New Party Notification <span th:text="${newPartyNotifications.size()}">3</span>
					</a>
					<a href="#" th:if="${eventEnrollmentNotifications.size() > 0}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						Meeting Entry Notification <span th:text="${eventEnrollmentNotifications.size()}">0</span>
					</a>
					<a href="#" th:if="${watchingPartyNotifications.size() > 0}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						Party Notifications of Interest <span th:text="${watchingPartyNotifications.size()}">0</span>
					</a>
				</ul>

				<ul class="list-group mt-4" th:if="${numberOfChecked > 0}">
					<form th:action="@{/notifications}" th:method="delete">
						<button type="submit" class="btn btn-block btn-outline-warning" aria-describedby="deleteHelp">Delete Read Notifications</button>
						<small id="deleteHelp">Notifications that have passed a month will disappear without deleting them.</small>
					</form>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card" th:if="${notifications.size() == 0}">
					<div class="card-header">There are no notifications.</div>
				</div>

				<div class="card" th:if="${newPartyNotifications.size() > 0}">
					<div class="card-header">A party of interest in the main activity area has been created.</div>
					<div th:replace="fragment.html::notification-list (notifications=${newPartyNotifications})"></div>
				</div>

				<div class="card mt-4" th:if="${eventEnrollmentNotifications.size() > 0}">
					<div class="card-header">News about the application for the meeting.</div>
					<div th:replace="fragment.html::notification-list (notifications=${eventEnrollmentNotifications})"></div>
				</div>

				<div class="card mt-4" th:if="${watchingPartyNotifications.size() > 0}">
					<div class="card-header">News about the party you are participating in.</div>
					<div th:replace="fragment.html::notification-list (notifications=${watchingPartyNotifications})"></div>
				</div>
			</div>
		</div>
		<div th:replace="fragment.html::footer"></div>
	</div>
	<script th:replace="fragment.html::date-time"></script>
</body>
</html>