<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html::head">
</head>
<body class="bg-light">
	<div th:replace="fragment.html::main-navi"></div>
	<div th:replace="fragment.html::party-banner"></div>
	<!-- Sign-up form part Start -->
	<div class="container">
		<div th:replace="fragment.html::party-info"></div>
		<div th:replace="fragment.html::party-menu(partyMenu='settings')"></div>

		<div class="row mt-3 justify-content-center">
			<div class="col-2">
				<div th:replace="fragment.html::party-settings-menu(currentMenu='zones')"></div>
			</div>
			<div class="col-8">
				<div th:replace="fragment.html::messageBox"></div>
				<div class="row">
					<h2 class="col-sm-12">Areas of Activity</h2>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="alert alert-info" role="alert">Register the area where you usually activate. You can select only regions that are registered on the system.</div>
						<div id="whitelist" th:text="${whitelist}" hidden></div>
						<input id="zones" type="text" name="zones" th:value="${#strings.listJoin(zones, ',')}" class="tagify-outside">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragment.html::footer"></div>
	<script th:replace="fragment.html::tooltip"></script>
	<script th:replace="fragment.html::ajax-csrf-header"></script>
	<script th:replace="fragment.html::update-zones(baseUrl='/party/'+ ${party.path} + '/settings/zones')"></script>
</body>
</html>